<div id="modal"></div>
<div id="main-container">
  <div id="header">
    <h1>Popup header</h1>
    <span id="close-button" (click)="close()">X</span>
  </div>
  <div id="content">
    <ng-content></ng-content>
  </div>
  <h3>Popup footer</h3>
</div>