#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

#main-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    min-width: 200px;
    max-width: 800px;
    height: fit-content;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 8px;

    background-color: whitesmoke;

    #content {
        flex-grow: 1;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
    }
    #close-button {
        width: fit-content;
        height: fit-content;
        font-weight: bold;
        padding: 4px;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, .5);
        }
        &:active {
            background-color: rgba(0, 0, 0, .7);
        }
    }
}
