$borderParams: 1px solid black;

#table-container {
    padding-left: 3em;
    padding-right: 3em;
}

#table {

    .table-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: $borderParams;
    }

    .header-row {
        background-color: bisque;
        font-weight: bold;
        border-top: $borderParams;
    }

    .table-cell {
        text-align: right;
        border-right: $borderParams;
        padding: .2em;
    }

    .table-cell:first-child {
        border-left: $borderParams;
    }
    
}

#info-container {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: aqua;
    padding: .5em;
    border-radius: 8px;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 50%;
    width: 2em;
    height: 1.4em;
    font-family: sans-serif;
    margin-right: .5em;
}
