<div id="main-container">

  <div id="table">

    <div class="header-row">
      <span>Bruttó fizetendő díj (Ft)	</span>
      <span>Számított érték felett (Ft)</span>
      <span>Számított értékig (Ft)</span>
    </div>
    <div *ngFor="let data of tableData; let i = index" class="table-row">
      <span class="table-cell">{{data.bruttoFizetendo}}</span>
      <span class="table-cell">{{data.szamitottErtekFelett}}</span>
      <span class="table-cell">{{data.szamitottErtekig}}</span>
    </div>

  </div>

</div>