#main-container {
    padding: 4px;
    border-radius: 4px;
    width: 400px;
    min-height: 20px;
    height: fit-content;
    background-color: whitesmoke;
    border: 1px solid rgba(100, 100, 100, .5);
    &, & label {
        cursor: pointer;
    }
}

#list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border: 1px solid black;

    .list-element {
        padding-top: 2px;
        padding-top: 2px;
        &:hover {
            background-color: gold;
        }
        &, & label:hover {
            cursor: pointer;
        }
        &:active {
            background-color: darken(gold, 10);
        }
    }
}