<div class="ui-g">
    <p-button label="Template driven" class="ui-g-2" (click)="toTemplateDriven()"></p-button>
    <p-button label="Reactive" class="ui-g-2" (click)="toReactive()"></p-button>
</div>

<router-outlet></router-outlet>
