<h1>Reactive form</h1>

<div id="form-container" class="content-section implementation">
  <form #form="ngForm" class="ui-g ui-fluid" [formGroup]="formModel">
    <span class="ui-md-4">
      <label>Given name:</label>
      <input type="text" pInputText formControlName="givenName">
      <app-error-displayer [control]="formModel.controls.givenName"></app-error-displayer>
    </span>
    <div class="ui-md-4">
      <label>Family name:</label>
      <input type="text" formControlName="familyName" pInputText>
      <app-error-displayer [control]="formModel.controls.familyName"></app-error-displayer>
    </div>

    <div class="ui-md-4">
      <label>Cities:</label>
      <p-multiSelect formControlName="cities" [options]="cityOptions" optionLabel="name"></p-multiSelect>
      <app-error-displayer [control]="formModel.controls.cities"></app-error-displayer>
    </div>

  </form>

  <hr>


  <div class="ui-g">
    <p-button label="Set new values" (click)="updateValues()" class="ui-g-12"></p-button>
    <p class="ui-g-12">valid: {{form.valid | json}}</p>
    <p *ngIf="form.valid && (form.touched || form.dirty)" class="ui-g-12">value: {{form.value | json}}</p>
  </div>

</div>
