<div>
    <label>name: {{name}}</label>
    <input value="{{name}}">
</div>

<app-popup *ngIf="popupVisible" [(visible)]="popupVisible">
    <app-popup-header>
        <label>Valami</label>
    </app-popup-header>
    <label>Body from app component, name: {{name}}</label>
</app-popup>