<h1>Template driven form</h1>

<div id="form-container" class="content-section implementation">
  <form #form="ngForm" class="ui-g ui-fluid">
    <span class="ui-md-4">
      <label>Given name:</label>
      <input type="text" name="givenNameInput" [(ngModel)]="vo.givenName" pInputText required maxlength="20"
        #givenNameControl="ngModel">
      <app-error-displayer [control]="givenNameControl"></app-error-displayer>
    </span>
    <div class="ui-md-4">
      <label>Family name:</label>
      <input type="text" name="familyNameInput" [(ngModel)]="vo.familyName" pInputText required minlength="6"
        #familyNameControl="ngModel">
      <app-error-displayer [control]="familyNameControl"></app-error-displayer>
    </div>

    <div class="ui-md-4">
      <label>Cities:</label>
      <p-multiSelect name="cityInput" [options]="cityOptions" [(ngModel)]="vo.cities" optionLabel="name" required
        appMinSelectionCount="3" #citiesControl="ngModel">
      </p-multiSelect>
      <app-error-displayer [control]="citiesControl"></app-error-displayer>
    </div>

  </form>

  <hr>

  <div class="ui-g">
    <p-button label="Set new values" (click)="updateValues()" class="ui-g-12"></p-button>
    <p class="ui-g-12">valid: {{form.valid | json}}</p>
    <p *ngIf="form.valid && (form.touched || form.dirty)" class="ui-g-12">value: {{form.value | json}}</p>
  </div>

</div>