<div id="main-container">

    <h2>E-napló alapadatok rögzítése</h2>
  <div class="control-group">
    <input name="jogcimInput" [(ngModel)]="kerelemVo.jogcim" required>
    <label>Kérelem jogcíme</label>
  </div>

<hr>

  <h2>E-Napló adatai</h2>
  <div class="control-group">
    <input name="naploNevInput" [(ngModel)]="kerelemVo.naploNev" required>
    <label>E-napló neve</label>
  </div>
  <div class="control-group">
    <input name="naploTipusInput" [(ngModel)]="kerelemVo.naploTipus" required>
    <label>E-napló típus</label>
  </div>
  <div class="control-group">
    <input name="sajatTulajdonInput" [(ngModel)]="kerelemVo.sajatTulajdon" required>
    <label>Tulajdonviszony</label>
  </div>
  <div class="control-group">
    <input name="alapteruletInput" [(ngModel)]="kerelemVo.alapterulet" required>
    <label>Alapterület</label>
  </div>
  <div class="control-group">
    <input name="lakasokSzamaInput" [(ngModel)]="kerelemVo.lakasokSzama" required>
    <label>Lakások száma</label>
  </div>
  <div class="control-group">
    <input name="megjegyzesInput" [(ngModel)]="kerelemVo.megjegyzes">
    <label>Megjegyzés</label>
  </div>

  <hr>

  <h2>Építész tervező</h2>
  <div class="control-group">
      <input name="epiteszNujInput" [(ngModel)]="kerelemVo.epiteszNuj" required>
      <label>Nüj</label>
  </div>
  <div class="control-group">
    <input name="epiteszNevjegyzekiSzamInput" [(ngModel)]="kerelemVo.epiteszNevjegyzekiSzam" required>
    <label>Névjegyzéki szám</label>
  </div>

  <hr>

  <h2>Érték adatok</h2>
  <div class="control-group">
    <input name="szamitottErtekInput" [(ngModel)]="kerelemVo.szamitottErtek" required>
    <label>Számított érték</label>
  </div>

  <hr>

  <app-info></app-info>

  <div id="button-container">
      <span id="save-button" class="button" (click)="handleOnSave()">Mentés</span>
      <span id="delete-button" class="button" (click)="handleOnDelete()">Törlés</span>
      <span id="cancel-button" class="button" (click)="handleOnCancel()">Mégsem</span>
  </div>



</div>