$buttonBgColor: silver;

* {
    font-size: 110%;
    font-family: roboto;
}

#main-container {
    width: 70vw;
    margin-bottom: 3em;
}

h1 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 2em;
}

h2 {
    font-size: 140%;
}

[required] + label::after {
    content: "*";
    color: red;
}

.control-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;

    label {
        margin-right: 1em;
        width: 16ch;
        flex-grow: 1;
    }

    input {
        flex-grow: 3;
    }
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;

    .button {
        padding: .5em;
        border: 1px solid rgba(30, 30, 30, .3);
        border-radius: 8px;
        cursor: pointer;

        background-color: $buttonBgColor;
        &:hover {
            background-color: darken($buttonBgColor, 10);
        }
        &:active {
            background-color: darken($buttonBgColor, 20);
        }
    }
}